<div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
<ul class="sidebar-menu list-unstyled">
    <li class="sidebar-list-item">
        <a routerLink="dashboard" class="sidebar-link text-white"><i class="fas fa-tachometer-alt mr-3 text-gray"></i> <span>Dashboard</span></a>
    </li>
    <li class="sidebar-list-item">
        <a routerLink="customer" class="sidebar-link text-white"><i class="fas fa-users mr-3 text-gray"></i> <span>Customers</span></a>
    </li>
    <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#page1" aria-expanded="false" aria-controls="transactions" class="sidebar-link text-white"><i class="fab fa-product-hunt mr-3 text-gray"></i><span>Page 1</span></a>
        <div id="page1" class="collapse">
            <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item child"><a href="#" class="sidebar-link text-white"><span>Page 1 child</span></a></li>
                <li class="sidebar-list-item child"><a href="#" class="sidebar-link text-white"><span>Page 1 child</span></a></li>
            </ul>
        </div>
    </li>
    <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#page2" aria-expanded="false" aria-controls="transactions" class="sidebar-link text-white"><i class="fab fa-product-hunt mr-3 text-gray"></i><span>Page 2</span></a>
        <div id="page2" class="collapse">
            <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item child"><a href="#" class="sidebar-link text-white"><span>Page 2 child</span></a></li>
                <li class="sidebar-list-item child"><a href="#" class="sidebar-link text-white"><span>Page 2 child</span></a></li>
            </ul>
        </div>
    </li>
    <li class="sidebar-list-item">
        <a routerLink="/login" class="sidebar-link text-white"><i class="fas fa-sign-in-alt mr-3 text-gray"></i> <span>Login</span></a>
    </li>
</ul>
